mixin c-main__block(data)
	.c-main__block
		.container
				.c-main__block-wrap
					.c-main__block-txt.wow.fadeInLeft
						.c-main__block-header
							h1 our strong organaisation
						.c-main__block-info.default__txt
							p Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod
								br
								| tempor incididunt  ut labore et. ectetur adig ipis cing elit, sed do eiusmod 
								br
								| tempor incididunt.
						.c-main__block-button
							button(type='button').btn.btn__red Contact Us
					.c-main__block-video.wow.fadeInRight
						iframe(src='https://www.youtube.com/embed/XGSy3_Czz8k')