mixin footer()
	.c-footer.wow.fadeInUp
		.container
			.c-footer__wrap
				.c-footer__copy
					span &copy; Copyright @Junaed 2016, All rights reserved.
				.c-footer__links
					a(href='#')
						img(src='s/images/useful/twitter.png', alt)
					a(href='#')
						img(src='s/images/useful/in.png', alt)
					a(href='#')
						img(src='s/images/useful/goog.png', alt)
					a(href='#')
						img(src='s/images/useful/fb.png', alt)