mixin c-subscribe(data)
	.c-subscribe.js-parallax
		.container
			.c-subscribe__header
				h3 Design tips, tricks, and freebies. Delivered weekly.
			.default__txt
				span Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod
			.c-subscribe__mail
				form
					.form-group
						label
							input(type='mail', name='email' placeholder='Email Address...')
					button(type='submit').btn.btn__red.btn__big subscribe