mixin header()
	header.c-header
		.container
			.c-header__list
				button(type='button' data-target-block='.c-header__list').button-toggle.active
				ul
					li.active
						a(href='#') home
					li
						a(href='#') portfolio
					li
						a(href='#') about us
					li
						a(href='#') contact