mixin c-infoblock(data)
	.c-infoblock
		.container
			.c-infoblock__wrap
				.c-infoblock__txt.wow.flipInX
					.c-main__block-header
						h2 do you know we can provide for you ?
					.c-infoblock__par.default__txt
						p Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod
							br
							| tempor incididunt ut labore et.Lorem ni ipsum dolor sit amet,
							br
							| consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut
							br
							| labore et.
					.c-infoblock__btn
						button(type='button').btn.btn__red.btn__transparent Learn More
				.c-infoblock__txt.c-infoblock__txt-flex
					.c-infoblock__column.wow.flipInY
						.c-infoblock__column-svg
							+svg('icon-settings')
						.c-infoblock__column-p
							p Management
						.default__txt
							span Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
					.c-infoblock__column.wow.flipInY
						.c-infoblock__column-svg
							+svg('icon-pencil')
						.c-infoblock__column-p
							p UI /UX Design
						.default__txt
							span Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
					.c-infoblock__column.wow.flipInY
						.c-infoblock__column-svg
							+svg('icon-diamond')
						.c-infoblock__column-p
							p Logo / Branding
						.default__txt
							span Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
					.c-infoblock__column.wow.flipInY
						.c-infoblock__column-svg
							+svg('icon-truck')
						.c-infoblock__column-p
							p Animation
						.default__txt
							span Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor