mixin c-product(data)
	.c-product
		.container
			.c-product__header
				h3 feature products
			.default__txt
				span Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod
					br
					| tempor incididunt ut labore et.
			.c-product__links
				a(href='#').active all
				a(href='#') print template
				a(href='#') web template
				a(href='#') user interface
				a(href='#') mock-up
			.c-product__img-wrap
				.c-product__img
					img(src='https://dummyimage.com/298x290/f5f0dd/000', alt)
				.c-product__img
					img(src='https://dummyimage.com/298x290/f5f0dd/000', alt)
				.c-product__img
					img(src='https://dummyimage.com/298x290/f5f0dd/000', alt)
				.c-product__img
					img(src='https://dummyimage.com/298x290/f5f0dd/000', alt)
				.c-product__img
					img(src='https://dummyimage.com/298x290/f5f0dd/000', alt)
				.c-product__img
					img(src='https://dummyimage.com/298x290/f5f0dd/000', alt)
				.c-product__img
					img(src='https://dummyimage.com/298x290/f5f0dd/000', alt)
				.c-product__img
					img(src='https://dummyimage.com/298x290/f5f0dd/000', alt)