mixin c-team(data)
	.c-team
		.container
			.c-team__header
				h3 Meet our team
			.default__txt.txt__underline
				span Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed
					br
					| dooing eiusmod tempor incididut labore Ui / Ux , print template.
			.c-team__block
				.c-team__main-img
					img(src='https://dummyimage.com/320x455/f5f0dd/000', alt)
				.c-team__main-info
					.c-team__name
						span mark waugh
					.default__txt
						span Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut
							br
							| labore Ui / Ux , print template.
					.c-team__links
						a(href='#') Facebook
						a(href='#') Dribble
						a(href='#') Behance
						a(href='#') Twiter
					.c-team__img
						.c-team__img-wrap.active
							img(src='https://dummyimage.com/198x214/f5f0dd/000', alt)
						.c-team__img-wrap
							img(src='https://dummyimage.com/198x214/f5f0dd/000', alt)
						.c-team__img-wrap
							img(src='https://dummyimage.com/198x214/f5f0dd/000', alt)
						.c-team__img-wrap
							img(src='https://dummyimage.com/198x214/f5f0dd/000', alt)